.secrets/
.DS_Store
bin/
lib/
pyvenv.cfg
db.sqlite3
# Django #
*.log
*.pot
*.pyc
__pycache__
backend/db.sqlite3
\?*
ec2-ssh.pem
.idea/
backend/staticfiles/
backend/db.sqlite3
.my_pgpass


# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude any .tfvars files that are intended to be kept secret
*.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc

**/.terraform.lock.hcl
